/* **************** form **************** */
ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #b70e21;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form h3 {
  color: rgb(228, 228, 228);
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.contact-form form label {
  display: block;
  color: rgb(228, 228, 228);
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: rgb(228, 228, 228);
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: rgb(228, 228, 228);
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.der {
  width: 100%;
}

.preguntas {
  padding: 2vw 6vw 0 6vw;
  margin-bottom: 5vh;
  color: rgb(228, 228, 228);
}

.preguntas h1 {
  font-size: 3.5vw;
}

.preguntas h4 {
  color: #b70e21;
}

.preguntas h2 {
  padding: 3vw 1vw 0 1vw; /* arriba, derecha, abajo, izquierda */
}

.aclaracion {
  font-size: small;
  color: white;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.checkbox label {
  width: 4.5vw;
}
.checkbox input {
  width: 100%;
}
