body {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
}

.cards {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
  margin: 15px 20px;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(241, 45, 45, 0.616);
  transform: translateY(-15px);
}

.card .head {
  height: 125px;
  width: 100%;
  position: relative;
}

.card .head .circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #f12626;
  bottom: 0;
}

.card .head .img {
  width: 150px;
  height: 150px;
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%);
}

.card .head .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000;
}

.card .description {
  height: 200px;
  padding: 40px 20px 20px 20px;
  border-bottom: solid 1px rgba(6, 74, 76, 0.18);
  text-align: center;
}

.card .description h3 {
  color: #031f20;
}

.card .description h4 {
  color: #1c5a5c;
}

.card .description p {
  margin-top: 20px;
  font-size: 15px;
}

.card .contact {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .contact a {
  text-decoration: none;
  color: #fff;
  background: #f81d00;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.card .contact a:hover {
  background: #0b6164;
}

/* **************** footer **************** */
.footer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerArriba {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  width: 100%;
  height: 18vh;
}

.footerText {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  flex-direction: column;
}

.footerText p {
  margin: 0;
}

.tarjetas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tarjetas img {
  width: 12vw;
}

.logoFootDiv {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoFoot {
  width: 35%;
}
.redes {
  width: 10vw;
  height: 8vw;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: 40px 40px;
}

.redes img {
  width: 3vw;
}
