.foto {
  height: 42vh;
}

body {
  background: black;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

/* **************** carrusel **************** */
.imgWallp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgWallp img {
  width: 60vw;
  height: 100%;
}

/* **************** card **************** */

.cards {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(3, 15vw);
}

.card {
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: white;
  width: 15vw;
  height: 65vh;
}

.card-body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.foto {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto img {
  position: absolute;
}

/* **************** footer **************** */
.footer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerArriba {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  width: 100%;
  height: 18vh;
}

.footerText {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  flex-direction: column;
}

.footerText p {
  margin: 0;
}

.tarjetas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tarjetas img {
  width: 12vw;
}

.logoFootDiv {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoFoot {
  width: 35%;
}
.redes {
  width: 10vw;
  height: 8vw;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: 40px 40px;
}

.redes img {
  width: 3vw;
}
